#route-checkout-radio {
    clear: right;
}

.wfacp-main-container .pw-route-protection{
    width: 100%;
}

.wfacp-main-container .pw-route-protection .pw-title span{
    margin: 0;
}

.wfacp-main-container .pw-route-protection .pw-learn-more{
    margin-left: 0;
}
